html {scroll-behavior: smooth;}
body{
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    line-height: 25px;
    overflow-x: hidden;
    padding-top: 60px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    text-transform: capitalize;
}
h1, .h1 {
    font-size: 45px; 
    font-style: inherit;
    line-height: 55px;
    color: #000;
    font-weight: 750;
    letter-spacing: 2px;
}
h2, .h2 {
    font-size: 40px; 
    line-height: 42px;
    color: #000;
}

h3, .h3 {
    font-size: 35px;
    line-height: 40px;
}

h4, .h4{
    font-size: 20px; 
    line-height: 30px;
}

p,li {
    color: #444;
    font-size: 17px;
}
a {
    color: #444; 
    text-decoration: none; 
    transition: 0.3s;
    font-family: 'Muli', sans-serif;
}

.line{
    border: 2px;
    border-style: solid;
    border-color: #fb2056;
    text-align: left;
    width: 15%;
}

button.bannerbtn2 {
    /*font-family: 'Abel', sans-serif;*/
    width: 170px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none;
    background: #fb2056;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}
button.bannerbtn2:hover {
    background: #0c0b0b;
    color: #fff;
}


a.btn {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    text-align: center;
  }

a.btn:hover {
    background-color: #fff;
    color: #000;
}

.over-btn1 .btn {
    position: absolute;
    top: 3%;
    left: 10%;
}
  

.over-btn2 .btn {
    position: absolute;
    top: 41%;
    left: 11%;
}
  
 
.over-btn3 .btn {
    position: absolute;
    top: 3%;
    left: 11%;
}
  

.over-btn4 .btn {
    position: absolute;
    top: 66%;
    left: 11%;
}
  
   
.container2 {max-width:100%; margin:0rem auto;padding: 0% 8%;}

@media screen and (max-width: 990px){
    .container2 {max-width:100%; margin:0rem auto;padding: 0% 5%;}
}

@media screen and (max-width: 600px){
    .container2 {max-width:100%; margin:0rem auto;padding: 0% 5%;}
}
 
